<html>
  <head>
    <title>Terminal Manual Directory</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/stylesheet.css' />
  </head>
  <body>
      <p>TERMINAL MANUAL DIRECTORY<p>
    <%= yield %>
  </body>

</html>
