<div class='maindiv'>
<p>--- CHEATSHEET ---</p>
<p><a href='/mans'>1: Command line</a></p>
<p><a href='https://www.github.com/0nn0/terminal-mac-cheatsheet'>2: Search</a></p>
<p>*** Make a selection ***</p>


  <form action='/main_menu' method='post'>
    <input type='text' name= 'message'>
    <input type='submit'/>
  </form>
</div>
