<div class='maindiv'>
<p>--- CHEATSHEET ---</p>
<p><a href='/mans'>1: Command line</a></p>
<p><a href='/search'>2: Search</a></p>
<p><a href='https://www.google.com'>3: Google</a></p>

<p>*** Make a selection ***</p>
