<div class='maindiv'>
<p>--- CHEATSHEET ---</p>
<p>1: Command line</p>
<p>2: Search</p>
<p>3: Exit</p>
<p>*** Make a selection ***</p>
</div>

<div>
  <form action='/main_menu' method='post'>
    <input type='text' name= 'message'>
    <input type='submit'/>
  </form>
</div>


  <!--loop the numbers array-->
  <!--echo out the value -->


  <%if params[:message] = '1' do%>
    <%redirect '/mans'%>
  <%end%>
