
<div class='maindiv'>
<p> --- COMMAND LINE ---</p>
<p><a href='/cp'>1: cp</a></p>
<p><a href='/mv'>2: mv</a></p>
<p><a href='/cd'>3: cd</a></p>
<p><a href='/search'>4: Search</a></p>
<p><a href='https://www.google.com'>5: Google</a></p>
<p><a href='/main_menu'>6: Main Menu</a></p>
<p> *** MAKE SELECTION ***</p>

  <form action='/mans' method='post'>
    <input type='text' name= 'selection'/>
    <input type='submit'/>
  </form>
</div>
