
<div class='maindiv'>
<p> --- COMMAND LINE ---</p>
<p> 1: cp</p>
<p> 2: mv</p>
<p> 3: cd</p>
<p> 4: Main Menu</p>
<p> *** MAKE SELECTION ***</p>
</div>

<div>
  <form action='/mans' method='post'>
    <input type='text' name= 'selection'/>
    <input type='submit'/>
  </form>
</div>
